.root {

}
.SplitPaneStyle{
    -fx-background-color: #4F4F4F;
}
.SplitPaneStyle .split-pane-divider{
    -fx-background-color: #4F4F4F;
}

.JFXSearchTextField{
    -fx-prompt-text-fill: #D8D8D8;
    -fx-text-fill: #D8D8D8;
    -jfx-unfocus-color: #D8D8D8;
    -jfx-focus-color: #D4872F;
}

.AnchorPaneTop{
    -fx-background-color: #4F4F4F;
}

.UserNameLabel{
    -fx-text-fill: #D8D8D8;
}

.buttonSearchUser {
    -fx-background-color: #4F4F4F;
    -fx-text-fill: #D8D8D8;
    -fx-alignment: center;
    -jfx-rippler-fill: #D4872F;
}
.buttonSearchUser .jfx-rippler{
    -jfx-rippler-fill: #D4872F;
}

.MessengerTextArea {
    -fx-text-fill: #D8D8D8;
    -fx-font-size: 12pt;
    -fx-display-caret: false;
    -fx-background-color: #2D2D2D;
}

.MessengerTextArea .content{
    -fx-background-color: #2D2D2D;
}

.JFXMessageTextField{
    -fx-prompt-text-fill: #D8D8D8;
    -fx-text-fill: #D8D8D8;
    -jfx-unfocus-color: #D8D8D8;
    -jfx-focus-color: #D4872F;
}

/*----------- TableView style -----------*/
.JFXTreeTableViewUsers {
    -fx-base: #2A2734;
    -fx-control-inner-background: #2A2734;
    -fx-background-color: #2A2734;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.JFXTreeTableViewUsers .column-header-background {
    -fx-background-color: transparent;
}

.JFXTreeTableViewUsers .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.JFXTreeTableViewUsers .column-header .label {
    -fx-font-size: 12pt;
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-text-fill: #D8D8D8;
    -fx-alignment: center;
    -fx-opacity: 1;
}
.JFXTreeTableViewUsers .table-row-cell {
    -fx-font-size: 11pt;
    /*-fx-background-color: -fx-focus-color;*/
    /*-fx-background-color: #BEBACE;*/
}

.JFXTreeTableViewUsers .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
    /*-fx-background-color: #BEBACE;*/
}
/*----------- TableView style -----------*/